@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바로 인한 레이아웃 흔들림 방지 */
html {
  overflow-y: scroll;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #f6f7f8;
  color: #111827;
}

html.dark body {
  background-color: #111827;
  color: #F9FAFB;
  font-family: 'Pretendard', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

